@media(min-width:576px){
  .tl{
    font-size: 4em !important;
  }
  .ts{
    font-size: 0.5em !important;
  }
}
.App{
  background-color: black;
  height: 100vh;
}

body{
  background-color: black;
}
.clock-container, .boundary-container{
  width:50%;
}
.boundary-container{
  position:absolute;
}
.clock{
  position: relative;
}
svg{
  fill: #6c757d !important;
}
.duration{
  stroke-dasharray: 565.48;
  stroke-dashoffset: 0;
}
.rotate_45{
  transform: rotate(-90,60,60);
}
input{
  border: none !important;
}
.text-large,.tl{
  font-size: x-large;
}
.text-small,.ts{
  font-size: small;
}
.text-warning,#moon,#bell{
  fill: #ffc107 !important;
}
.duration{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}